body {
	background-color: rgb(255, 213, 45);
}

.navbar-brand {
	font-size: 40px;
}

form {
	margin-top: 20px;
}

p {
	color: blueviolet;
	font-weight: 500;
	margin-top: 10px;
	font-size: 25px;
}

.blockquote-footer {
	color: blueviolet;
	margin-top: 10px;
	font-size: 22px;
}

#emotion-form,
#emotion-input {
	font-size: 20px;
	margin-left: 10px;
	color: blueviolet;
}

#find-emotion {
	margin-top: 10px;
	margin-left: 10px;
	background-color: blueviolet;
	color: white;
}

button {
	color: blueviolet;
	font-weight: 500;
	margin: 5px;
}
